body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-top: 100px;
  width: 600px;
  display: flex;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-around;
}

.tower {
  width: 5px;
  height: 100px;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10px;
  border-left: 50px solid white;
  border-right: 50px solid white;
}

.item {
  cursor: pointer;
  border-radius: 10px;
  top: 30px;
  height: 20px;
  background-color: white;
  border: 3px solid #dddddd;
  margin-top: 5px;
  /*transition: 0.1s;*/
}

.item:hover {
  border: 3px solid #eeeeee;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  color: black;
  background-color: #dddddd;
  border-radius: 5px;
  font-size: 25px;
  padding: 5px 30px;
  outline: none;
}

.btn:hover {
  background-color: #cccccc;
}

.btn:active {
  background-color: #dddddd;
}
